APP_NAME=Inmobilot API
ENV=development

DATABASE_URL=postgresql+psycopg2://postgres:inmobilot2026@localhost:5432/inmobilot

SECRET_KEY=cambia-esto-por-un-secreto-largo-y-aleatorio
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=720

CORS_ORIGINS=http://localhost:4200